{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Stroy 6 PPW</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static "/css/style.css" %}">
</head>

<body>
    
    <div align='right'>
        <button id="dark_theme" class="btn btn-primary add-schedule">
            Dark Theme
        </button>
    </div>
    <br>
    <div align='right'>
        <button id="light_theme" class="btn btn-primary add-schedule">
            Light Theme
        </button>
    </div>
    <br>
    <div align='right'>
        <a href="/profile/" style="color: white"><button type="button" class="btn btn-primary align-middle" name="button" id="back_btn">Profile</button></a>
    </div>
    <br>
    <div align='right'>
        <a href="/search/" style="color: white"><button type="button" class="btn btn-primary align-middle" name="button" id="back_btn">Search Books</button></a>
    </div>

    

    <div class="container" style="margin-top: 50px;">
        <div align = 'center'>
            <button class="accordion">Profile</button>
            <div class="panel">
                <p class="accordion-content">
                    Nama: Ahmad Haulian Yoga Pratama
                    <br><br>
                    NPM: 1806133824
                </p>
            </div>
            <button class="accordion">Activity</button>
            <div class="panel">
                <p class="accordion-content">Saya suka bermain game dan berolahraga. Saya juga suka mengerjakan soal Competitive Programming</p>
            </div>
            <button class="accordion">Organization</button>
            <div class="panel">
                <p class="accordion-content">Saya berpengalaman menjadi Scientific Committee pada Pelatnas TOKI.</p>
            </div>
            <button class="accordion">Achievements</button>
            <div class="panel">
                <p class="accordion-content">Incoming</p>
            </div>
        </div>
        <br>
        <a href="/" style="color: white"><button type="button" class="btn btn-primary align-middle" name="button" id="back_btn">Back</button></a>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static "/js/script.js" %}"></script>
</body>