{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Stroy 6 PPW</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static "/css/style.css" %}">
</head>

<body>
    
    

    <div align='right'>
        <button id="dark_theme" class="btn btn-primary add-schedule">
            Dark Theme
        </button>
    </div>
    <br>
    <div align='right'>
        <button id="light_theme" class="btn btn-primary add-schedule">
            Light Theme
        </button>
    </div>
    <br>
    <div align='right'>
        <a href="/profile/" style="color: white"><button type="button" class="btn btn-primary align-middle" name="button" id="back_btn">Profile</button></a>
    </div>
    <br>
    <div align='right'>
        <a href="/search/" style="color: white"><button type="button" class="btn btn-primary align-middle" name="button" id="back_btn">Search Books</button></a>
    </div>


    <div class="container" style="display: flex; justify-content: center;">
        <form id="asd" class="form" style="width: 100%; display: flex;">
            <div class="row" style="width: 100%; align-content: center; justify-content: center; display: flex;">
                <div class="col">
                    <input id="inputs" class="form-control" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="col">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="">Search</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div id="isi"></div>

    
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static "/js/script.js" %}"></script>
    <script>
        $("#asd").submit(function(e){
            e.preventDefault();
            var input = $("#inputs").val();
            $("#isi").empty();
            $.ajax({
                method: 'GET',
                url: 'https://www.googleapis.com/books/v1/volumes?q=' + input, 
                success: function(result){
                    // console.log(result);
                    var ya = '';
                    var nomor = 1;
                    ya += '<table class="table table-striped table-dark">'
                        +   '<thead>'
                        +   '<tr>'
                        +   '<th scope="col">#</th>'
                        +   '<th scope="col">Cover</th>'
                        +   '<th scope="col">Title</th>'
                        +   '<th scope="col">Author</th>'
                        +   '</tr>'
                        +   '</thead>'
                        +   '<tbody>'
                    $.each(result.items, function(index, item){
                        ya += '<tr>'
                            +   '<th class="align-middle" scope="row">' + nomor + '</th>'
                            +   '<td class="align-middle">' + '<img style="width:100px; height:100px;" src="' + item.volumeInfo.imageLinks.smallThumbnail + '">' + '</td>'
                            +   '<td class="align-middle">' + item.volumeInfo.title + '</td>'
                            +   '<td class="align-middle">' + item.volumeInfo.authors + '</td>'
                            +   '</tr>'
                        console.log(item);
                        nomor += 1;
                    })
                    ya += '</tbody>'
                        +   '</table>'
                    $("#isi").append(ya)
                },
                error: function (textStatus, errorThrown) {
                    console.log(textStatus + " " + errorThrown);
                }                
            });
        });
    </script>
</body>